<header class="fluig-style-guide-header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <ul class="nav nav-tabs clearfix" role="tablist">
                <li class="active"><a href="/src/layout/HomeChart.html">Home</a></li>
                <li><a href="/src/layout/SupplierForm.html">Cadastrar</a></li>
                <li><a href="/src/layout/ProductsList.html">Produtos</a></li>
                <li><a href="/src/layout/Anexos.html">Enviar Arquivo</a></li>
            </ul>
        </div>
    </nav>
</header>

<main id="fluig-style-guide-main">

</main>

<footer class="fluig-style-guide-footer">
    <!-- Content do footer -->
</footer>
